@font-face {
  font-family: "logo";
  src: url("/logo.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --vp-font-family-heading: 'logo', sans-serif;
  --vp-home-hero-name-color: var(--vp-c-text-1);
  --vp-c-brand-1: #3F50D4; /* used in text highlights, links */
  --vp-c-brand-2: #3F50D4; /* hover: slightly darker for contrast */
  --vp-c-brand-3: #4C5FFF; /* button background / main brand */
}

:root.dark {
  --vp-c-brand-1: #7685FF; /* lighter for links/highlights */
  --vp-c-brand-2: #5C6FFF; /* slightly darker hover */
  --vp-c-brand-3: #4C5FFF; /* keep consistent button background */
}

.VPHomeHero .name::before {
  content: "";
  display: inline-block;
  width: 1.55em;
  height: 1.2em;
  background: url('/logo_hero.svg') no-repeat center / contain;
  vertical-align: middle;
  margin-bottom: 0.15em;
  margin-left: -0.7rem;
}

.VPNavBarTitle {
  .title {
    font-family: var(--vp-font-family-heading);
    font-size: 1.35rem;
    font-weight: 800;

    span {
        padding-top: 0.4rem;
    }
  }
}

.heading {
  .name {
    color: var(--vp-c-text-1);
    font-family: var(--vp-font-family-heading);
    font-weight: 800;
    font-size: 4rem;

    @media (max-width: 960px) {
      font-size: 3.5rem;
    }

    @media (max-width: 640px) {
      font-size: 2.8rem;
    }
  }
}

.main {
  .tagline {
    @media (max-width: 640px) {
      font-size: 1rem;
    }
  }
}

.docblock .definition {
  font-family: var(--vp-font-family-mono);
  font-weight: 500;
  padding-bottom: 4px;
}

.docblock .definition h3 {
  font-size: var(--vp-font-size-base);
  font-weight: 500;
}

.docblock .definition h3 .name {
  font-weight: 600;
  color: var(--vp-c-brand-1);
}

.docblock .definition h3 .type {
  font-size: 14px;
}

.docblock .description .type {
  font-family: var(--vp-font-family-mono);
}

.docblock ul.params {
  margin: 8px 0 16px 0;
  list-style-type: none;
  padding: 0;
}

.docblock ul.params li .name {
  font-family: var(--vp-font-family-mono);
  font-weight: 600;
}