@font-face {
  font-family: "logo";
  src: url("/logo.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --vp-font-family-heading: 'logo', sans-serif;
  --vp-home-hero-name-color: var(--vp-c-text-1);
}

.VPHomeHero .name::before {
  content: "";
  display: inline-block;
  width: 1.55em;
  height: 1.4em;
  background: url('/logo_hero.svg') no-repeat center / contain;
  vertical-align: middle;
  margin-right: 0.15em;
  margin-bottom: 0.15em;
}

.VPNavBarTitle {
  .title {
    font-family: var(--vp-font-family-heading);
    font-size: 1.2rem;
    letter-spacing: 0.04rem;
    font-weight: 800;

    span {
        padding-top: 0.4rem;
    }
  }
}

.heading {
  .name {
    color: var(--vp-c-text-1);
    font-family: var(--vp-font-family-heading);
    letter-spacing: 0.1rem;
    font-weight: 800;
  }

  .text {
    font-size: 2.5rem;

    @media (max-width: 960px) {
      font-size: 2rem;
    }

    @media (max-width: 640px) {
      font-size: 1.5rem;
    }
  }
}

.main {
  .tagline {
    @media (max-width: 640px) {
      font-size: 1rem;
    }
  }
}

:where(.property, .function) {
  margin: 0 0 8px;
}

:where(.property, .function):last-child {
  margin-bottom: 0;
}

:where(.property, .function) > .definition {
  font-family: var(--vp-font-family-mono);
  font-weight: 500;
  padding-bottom: 4px;
}

:where(.property, .function) .definition h3 {
  font-weight: 600;
  color: var(--vp-c-brand-1);
  font-size: var(--vp-font-size-base);

  .type {
    font-weight: 500;
  }
}

.property .definition {
  color: var(--vp-c-brand-1);
}

.property .definition .type,
.property .definition a {
  color: var(--vp-c-text-2);
}

.property .description .default {
  font-size: 14px;
  color: var(--vp-c-text-2);
}

.function .description a {
  font-weight: 400;
}

.function .param .param-type {
  color: var(--vp-c-text-2);
}

ul.params {
  font-size: 14px;
  margin-top: 4px;
  padding-left: 1.25em;
}

ul.params li {
  margin-top: 0;
}

ul.params .param-name {
  font-family: var(--vp-font-family-mono);
}